/* Fuente site: https://fonts.google.com/ */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variable */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #2d3035;
    --bg-color-nav: #24282b;
    --bg-color-card: #373c41;
    --primary-color: #f1f1f1;
    --secundary-color: #ff661e;
    --primary-shadow: #191620;
    --secundary-shadow: #554730;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
    --text-color: #f1f1f1;
    --text-color-cool: #ff661e;
}
/* Variable end */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secundary-color);
}

body {
    font-family: var(--font-family);
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color-nav);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--primary-color);
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
}

nav a:hover {
    color: var(--secundary-color);
    border-bottom: 2px solid var(--secundary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.hero img {
    height: 37.5rem;
    width: 37.5rem;
}

.bio {
    background-color: var(--bg-color-card);
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    display:block;
}

.bio h1 {
    margin-bottom: var(--bottom-margin);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

.more-about {
    background-color: var(--bg-color);
    padding: 1rem 6rem;
}

.more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

.more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
}

.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.skill-header {
    margin-bottom: 1rem;
}

.skills-wrapper img {
    padding: 1.25rem;
}

.icon {
    width: 11.875rem;
    height: 11.25rem;
}

.icon-card {
    background-color: var(--bg-color-card);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}

.icon-card:hover {
    background-color: var(--bg-color);
}

.projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
}

.project-pic {
    /*width: 75%;
    height: 70%;*/
    max-height: 11rem;
    max-width: 22rem;
} 

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
}

.project-container {
    text-align: center;
    width: 25rem;
    padding: 1rem;
}

.project-container p {
    padding: 0.4rem;
}

.project-container a {
    color: var(--text-color-cool);
}

.project-title {
    margin-bottom: var(--bottom-margin);
}

.project-card {
    background-color: var(--bg-color-card);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 15px;
    margin: 10px;
    min-height: 20rem;
}

.contact {
    margin-top: 2rem;
}

.contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
    background-color: var(--bg-color-card);
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--primary-shadow);
}

.contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--primary-color);
}

.contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
}

.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 3px outset var(--text-color-cool);
    font-size: 0.875rem;
    outline: none;
}

.input-field::placeholder {
    padding: 0.5rem;
    color: var(--text-color-cool);
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: var(--bg-color-card);
    border: 3px solid var(--text-color-cool);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
    color: var(--text-color-cool);
}

.submit-btn:hover {
    background-color: var(--text-color-cool);
    border: 3px solid var(--text-color-cool);
    color: var(--text-color);
}

.socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
}

.socicon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #f1f1f1;
}

footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}

footer a {
    color: var(--secundary-color);
}

.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}

.up-arrow {
    background-color: #fff;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.a-button {
    padding: 7px 25px;
    margin: 5px 0;

    background-color: var(--bg-color-card);
    border: 1px solid var(--text-color-cool);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
    color: var(--text-color-cool);
    display:inline-block;
}

.a-button:hover {
    background-color: var(--text-color-cool);
    border: 1px solid var(--text-color-cool);
    color: var(--text-color);
}

/* Media queries for responsives */
@media screen and ( max-width: 720px ) {
    nav {
        padding: 1.5rem 1rem;
    }

    nav ul {
        position: fixed;
        background-color: var(--bg-color-nav);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }

    nav ul li {
        margin: 8px;
    }

    .burger-menu {
        display: block;
    }

    nav ul.show {
        transform: translateX(0);
    }

    .hero {
        margin-top: -7rem;
        flex-direction: column;
        gap: 0;
    }

    .hero img {
        width: 25rem;
    }

    .bio {
        margin-top: -7rem;
        width: 20.5rem;
    }

}